<div *ngIf="instructor; else loading">
  <!-- grab the instructor's name from included.... -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div *ngFor="let incl of instructor.included">
          <div *ngIf="incl.type === 'people'">
          {{ incl.attributes.name }}
          </div>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-list>
    <mat-list-item *ngFor="let incl of instructor.included">
      <div *ngIf="incl.type === 'course_terms'">
        {{ incl.attributes.term_identifier }}:
        {{ courseTerms[incl.id]?.included[0].attributes.course_name }}
        {{ courseTerms[incl.id]?.included[0].attributes.course_description != courseTerms[incl.id]?.included[0].attributes.course_name ? courseTerms[incl.id]?.included[0].attributes.course_description : ''}}
      </div>
    </mat-list-item>
    </mat-list>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goBack()">Back</button>
    </mat-card-actions>
  </mat-card>
  <!-- Now list their terms and course info -->
</div>

<ng-template #loading>
  <div class="loading-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <p>Loading instructor details...</p>
  </div>
</ng-template>
