<h2>Course List</h2>
<mat-form-field class="search-field" appearance="outline">
  <mat-label>Search courses</mat-label>
  <input
    matInput
    [(ngModel)]="searchFilter"
    (keydown.enter)="onSearchFilterChange()" />
  <button
    mat-icon-button
    matSuffix
    aria-label="Search"
    (click)="onSearchFilterChange()">
    <mat-icon>search</mat-icon>
  </button>
  <button
    *ngIf="searchFilter"
    mat-icon-button
    matSuffix
    aria-label="Clear"
    (click)="clearSearch()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div *ngIf="courses">
  <table mat-table [dataSource]="courses.data" class="mat-mdc-table dense">
    <!-- Course Identifier Column -->
    <ng-container matColumnDef="identifier" class="mat-column-identifier">
      <th mat-header-cell *matHeaderCellDef> Course Number </th>
      <td mat-cell *matCellDef="let course">
        <a [routerLink]="['/courses', course.id]">{{ course.attributes.course_identifier }}</a>
      </td>
    </ng-container>

    <!-- Course Name Column -->
    <ng-container matColumnDef="name" class="mat-column-name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let course">{{ course.attributes.course_name }}</td>
    </ng-container>

    <!-- Course Description Column -->
    <ng-container matColumnDef="description" class="mat-column-description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let course" >
        <!-- only show the description when it differs from the name -->
        {{ course.attributes.course_description !== course.attributes.course_name ? course.attributes.course_description : ''}}</td>
    </ng-container>

    <ng-container matColumnDef="terms" class="mat-column-terms">
      <th mat-header-cell *matHeaderCellDef> Terms Offered </th>
      <td mat-cell *matCellDef="let course" >
        <div *ngFor="let term of getTermsForCourse(course)">
          {{ term.attributes.term_identifier.substring(0,5) }}
        </div>
      </td>
    </ng-container>
    <!-- Table Header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Table Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <!-- Pagination -->
  <mat-paginator
    [length]="courses.meta.pagination.pages"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div *ngIf="!courses">
  <p>Loading...</p>
</div>
