<h2>Course List</h2>
<mat-form-field class="search-field" appearance="outline">
  <mat-label>Search courses</mat-label>
  <input
    matInput
    [(ngModel)]="searchFilter"
    (keydown.enter)="onSearchFilterChange()" />
  <button
    mat-icon-button
    matSuffix
    aria-label="Search"
    (click)="onSearchFilterChange()">
    <mat-icon>search</mat-icon>
  </button>
  <button
    *ngIf="searchFilter"
    mat-icon-button
    matSuffix
    aria-label="Clear"
    (click)="clearSearch()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div *ngIf="courses">
  Page {{ courses.meta.pagination.page }} (length {{courses.data.length }}) of {{ courses.meta.pagination.pages }}
  <ul>
    <li *ngFor="let course of courses.data">
      <a [routerLink]="['/courses', course.id]">{{ course.attributes.course_identifier }}</a>:
      {{ course.attributes.course_name }}
    </li>
  </ul>
</div>
<div *ngIf="!courses">
  <p>Loading...</p>
</div>
