site_name: Using the Django REST Framework and DRF-JSONAPI
site_url: https://columbia-it-django-jsonapi-training.readthedocs.io
site_description: Django REST framework JSONAPI Training

## N.B these URLs are overridden in mkdocs_macros_main.py:

#repo_url: https://gitlab.cc.columbia.edu/ac45/django-training
edit_uri: edit/master/docs/

#repo_url: https://github.com/columbia-it/django-jsonapi-training
#edit_uri: /columbia-it/django-jsonapi-training/edit/master/docs/

copyright: Copyright &copy; 2018-2020 The Trustees of Columbia University in the City of New York

theme:
   name: material
#     hljs_languages:
#       - yaml
#       - json
#     navigation_depth: 4
#     sticky_navigation: False
#     prev_next_buttons_location: both

plugins:
  - techdocs-core
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          setup_commands:
            - import mkdocs_mkdocstrings_setup
          rendering:
            show_source: true
            # show_if_no_docstring: true
          # selection:
            # inherited_members: true
            # docstring_options:
      watch:
        - myapp
  - macros:
      module_name: mkdocs_macros_main

#extra:

# markdown_extensions:
#  - toc:
#     anchorlink: True
#     toc_depth: 4

###
# for testing mkautodoc:
###
# markdown_extensions:
#   - admonition
#   - codehilite
#   - mkautodoc
# extra_css:
#   - css/custom.css

nav:
 - Home: 'index.md'
 - 'Welcome and Caveat': welcome.md
 - 'Documentation Revision History': changelog.md
 - 'Preparing for the classes': preparing.md
 - 'Motivation: Strategy and Architectural Standards': motivation.md
 - 'Review: git, Python, JSON': review.md
 - 'HTTP and REpresentational State Transfer (REST)': rest.md
 - 'The {json:api} specification': jsonapi.md
 - 'Using OAuth 2.0': using_oauth2.md
 - 'More About Using OAuth 2.0': oauth2.md
 - 'Building our DJA project': building.md
 - 'Modifying our DJA Project': modifying.md
 - 'Another Modification: Add an Instructor Model and additional relationship': another1.md
 - 'Database Backends': database.md
 - 'Split Instructor model to be OneToOne with new Person model': another2.md
 - 'Adding OIDC 1.0 Claims': oidc.md
 - 'Sphinx Documentation': sphinx.md
 - 'MkDocs Documentation': mkdocs.md
 - 'Documenting the API in OAS 3.0': documenting-api.md
 - 'Backstage developer portal': backstage.md
 - 'Deploying to Production': deploying.md
 - 'Using AWS API Gateway': aws_api_gw.md
 - 'A Command Line Client': cli_client.md
 - 'Help Wanted': help.md
 - 'API Reference':
     - 'Models': api_models.md
     - 'Views': api_views.md
     - 'Serializers': api_serializers.md
     - 'Schemas': api_schemas.md
