# requirements for our django app
Django==5.0.6
django-debug-toolbar==4.4.2
django-extensions==3.2.3
django-filter==24.2
djangorestframework==3.15.2
djangorestframework-jsonapi==7.0.1
# production release of DOT:
django-oauth-toolkit==2.4.0
# master branch:
#git+https://github.com/jazzband/django-oauth-toolkit
# local dev copy
#/Users/ac45/src/django-oauth-toolkit
PyYAML==6.0.1
uritemplate==4.1.1
pip>=24.0
django-cors-headers==4.3.1
str2bool

drf-spectacular==0.27.2
drf-spectacular-sidecar==2024.7.1
