# requirements for our django app
Django==2.1.7
django-filter==2.0.0
django-cors-middleware==1.3.1
django-debug-toolbar==1.11
# just grab the master branch of DOT for now
# django-oauth-toolkit==1.2.0
git+https://github.com/jazzband/django-oauth-toolkit.git
djangorestframework==3.9.0
###
# djangorestframework-jsonapi (DJA) has a bunch of errata fixed post-2.6.0 release
###
# use more recent master branch:
git+https://github.com/django-json-api/django-rest-framework-json-api.git@8c2b5af95ed8e630c61ef5b10c8e2807a24ff7e7
# djangorestframework-jsonapi==2.6.0
requests==2.21.0
rest-condition==1.0.3
# venv-update (used by tox-pip-extensions) breaks with pip 18.1: https://github.com/Yelp/venv-update/issues/214
pip>=10.0.1,<18.0
tox==3.6.1
tox-pip-extensions==1.4.1
PyYAML==4.2b4
# graph_models:
django-extensions==2.1.4
pygraphviz==1.5
