# requirements for our django app
Django==3.1.6
django-cors-middleware==1.5.0
django-debug-toolbar==2.2
django-extensions==2.2.8
django-filter==2.4.0
djangorestframework==3.12.1
djangorestframework-jsonapi==4.0.0
# production release:
django-oauth-toolkit==1.3.2
# master branch:
#git+https://github.com/jazzband/django-oauth-toolkit
PyYAML==5.4
PyMySQL==0.9.3
uritemplate==3.0.1
