<article>
  <img
    class="course-icon"
    src="../assets/classroom.svg"
    alt="classroom icon"
  />
  <section class="course-description">
    <p class="course-identifier">{{course?.course_identifier}}</p>
    <p class="course-name">Name: {{course?.course_name}}</p>
    <p class="course-description"> Description: {{course?.course_description}}</p>
    <p class="course-number"> Number: {{course?.course_number}}</p>
    <p class="course-subject-area-code"> Subject area: {{course?.subject_area_code}}</p>
    <p class="course-school-bulletin-prefix-code"> Bulletin Prefix: {{course?.school_bulletin_prefix_code}}</p>
    <p class="course-suffix-two"> Suffix two: {{course?.suffix_two}}</p>
  </section>
  <!-- TODO: make this into add a CourseTerm -->
  <section class="course-apply">
    <h2 class="section-heading">Do something</h2>
    <form [formGroup]="applyForm" (submit)="submitCourse()">
      <label for="name">Course Name</label>
      <input id="name" type="text" formControlName="name" />
      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description" />
      <button type="submit" class="primary">Submit</button>
    </form>
  </section>

</article>
