<article>
  <img
    class="course-icon"
    src="../assets/classroom.svg"
    alt="classroom icon"
  />
  <section class="course-description">
    <p class="course-identifier">{{course?.course_identifier}}</p>
    <p class="course-name">Name: {{course?.course_name}}</p>
    <p class="course-description"> Description: {{course?.course_description}}</p>
    <p class="course-number"> Number: {{course?.course_number}}</p>
    <p class="course-subject-area-code"> Subject area: {{course?.subject_area_code}}</p>
    <p class="course-school-bulletin-prefix-code"> Bulletin Prefix: {{course?.school_bulletin_prefix_code}}</p>
    <p class="course-suffix-two"> Suffix two: {{course?.suffix_two}}</p>
  </section>
</article>
