<h2>Course Details</h2>
<div *ngIf="course">
  <p><strong>Course Identifier:</strong> {{ course.data.attributes.course_identifier }}</p>
  <p><strong>Name:</strong> {{ course.data.attributes.course_name }}</p>
  <p><strong>Description:</strong> {{ course.data.attributes.course_description }}</p>
  <div *ngIf="course.data.relationships.course_terms">
    <p><strong>Terms offered:</strong>
    <!-- iterate over included response for course_terms type -->
    <ul *ngFor="let term of course.included">
      <li *ngIf="term.type == 'course_terms'">
        {{term.attributes.term_identifier}}
        <ul *ngFor="let inst of term.relationships.instructors.data">
          <li>
            instructor {{inst.id }}
            <div *ngIf="instructors[inst.id] as instructor">
              <!-- instructor -> person is singular but is delivered in an include array -->
              <p *ngIf="instructor.included[0] as person">
                Instructor: {{ person.attributes.name }}
              </p>
            </div>
            <div *ngIf="!instructors[inst.id]">
              <p>Loading instructor details...</p>
            </div>
          </li>
        </ul>
        <p *ngIf="!term.relationships.instructors.data.length">
          No instructor(s) listed.
        </p>
      </li>
  </ul>
  </div>
</div>
<div *ngIf="!course">
  <p>Loading course details...</p>
</div>
