# bring in requirements for my app (excepting the optional database):
-r../requirements-django.txt
# stuff needed for mkdocs documentation:
#mkdocs-techdocs-core==0.0.16
# workaround a Markdown pinned requirements incompatibility
git+https://github.com/n2ygk/mkdocs-techdocs-core@issue/26/pinned-reqs
mkdocs-macros-plugin==0.5.12
mkdocstrings==0.15.2
mkdocs==1.1.2
